html {
  position: relative;
  min-height: 100%;
}
body > .container {
  padding: 60px 15px 0;
}

.btn-green {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-green:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.area-padding{
  padding:70px 0px 80px
}

.mr-t4{
  margin-top: 4px;
}

.text-white{
  color: white;
}

.card{
 // margin: 2px;
 border: none;
 padding-top:4px;
 .card-body{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
 }
}