html {
  position: relative;
  min-height: 100%;
}

.main{
  min-height: calc(100vh - 210px);
}

.icon{
    float: right;
    margin-top: -20px;
    margin-right: -20px;
    border: none;
    background: white;
  svg{
    display: inline-block;
    fill: currentColor;
  }
  :hover{
    color:blue;
    cursor: pointer;
  }
}