html {
  position: relative;
  min-height: 100%;
}

.main{
  min-height: calc(100vh - 235px);
}

.icon{
    float: right;
    margin-top: -20px;
    margin-right: -20px;
    border: none;
    background: white;
  svg{
    display: inline-block;
    fill: currentColor;
  }
  :hover{
    color:blue;
    cursor: pointer;
  }
}

.tag{
  box-shadow: inset 0 0 0 2px transparent;
  color: #fff;
  background-color: #0073b1;
  border-radius: 32px;
  padding:5px;
  margin:2px;
  .icons{
    display: inline;
  }
}